.section {
  width: 100%;
}

/* NAVBAR */
.nav-logo {}


.logo {
  display: flex;
  justify-content: center;
}

.logo > svg {
  width: 5em;
  height: 5em;
  fill: #5168a4;
}


.intro {
  top: 0em;
  width: 100%;
  position: absolute;
  background-color: #f6f5ee;
}

.zangle { color: #5168a4; }
.main {
  display: block;
  height: 100%;
  width: 100%;
  padding-top: 10em;
}.code-block {
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 0em;
  width: 100vw;
  border: none;
  color: #eeeeee;
  background-color: #1d2021;
}

.code-block > .container > pre {
  margin: 0em;
}

.code {
  margin: 0em;
  padding: 0em;
  border-radius: 0;
  border: none;
  color: #eeeeee;
  background-color: #1d2021;

}.filters-header {
  color: #2bb37c;
  text-align: center;
}.bi-header {
  color: #d85229;
  text-align: center;
}.c-header {
  color: #664270;
  text-align: center;
}.tryit-header {
  color: #007bb6;
  text-align: center;
}
.tryit-block {
  border: none;
  width: 100%;
  height: 30em;
  background-color: #f6f5ee;
}.footer {
  padding-top: 2em;
  height: 20em;
  width: 100vw;
  background-color: #ccd1c8;
}

body {
  background-color: #ecf0e7;
}



p { font-size: 1.5em; }

.center.horizontal {
  display: block;
  margin-left: auto;
  margin-right: auto;
}