.section {
  width: 100%;
}

/* NAVBAR */
.nav-logo {}


.logo {
  display: flex;
  justify-content: center;
}

.logo > svg {
  width: 5em;
  height: 5em;
  fill: #5168a4;
}

.intro {
  top: 0em;
  width: 100%;
  position: absolute;
  background-color: #f6f5ee;
}

code {
  border: none;
  color: #eeeeee;
  background-color: #1d2021;
}

.zangle { color: #5168a4; }
.main {
  display: block;
  height: 100%;
  width: 100%;
  padding-top: 10em;
}.code {
  padding: 0em;
  width: 100%;
}.tryit-header {
  color: #5168a4;
  text-align: center;
}
.tryit-block {
  border: none;
  width: 100%;
  height: 30em;
  background-color: #f6f5ee;
}

body {
  background-color: #ecf0e7;
}

.footer {
  padding-top: 3em;
  height: 20em;
  width: 100%;
  background-color: #ccd1c8;
}

p { font-size: 1.5em; }

.center.horizontal {
  display: block;
  margin-left: auto;
  margin-right: auto;
}